{% extends 'template/master.twig' %}

{% block pageTitle %}Change Password{% endblock %}

{% block content %}
    {% include 'template/partials/header.twig' %}
    
    <h1>Change Password</h1>

    {% include 'template/partials/flash.twig' %}

    <form action="{{ path_for('auth.postChangePassword') }}" method="post" class="ui form">
        <div class="two fields">
            <div class="four wide {% if errors.old_password %}error{% endif %} field required">
                <label for="old_password">Password Lama</label>
                <input type="password" name="old_password" id="old_password" placeholder="Password Lama">
            </div>
            <div class="four wide {% if errors.new_password %}error{% endif %} field required">
                <label for="new_password">Password Baru</label>
                <input type="password" name="new_password" id="new_password" placeholder="Password Baru">
            </div>
        </div>

        {{ csrf.fields|raw }}

        {% include 'template/partials/errors.twig' %}

        <div class="field">
            <button type="submit" class="ui primary button"><i class="icon save"></i>Save</button>
            <a href="{{ path_for('home') }}" class="ui button">Cancel</a>
        </div>
    </form>
{% endblock %}