{% extends 'template/master.twig' %}

{% block pageTitle %}Nota Toko Batal{% endblock %}

{% block content %}
    {% include 'template/partials/header.twig' %}
    
    {% include 'receipt/partials/menu.twig' with {'menu': 'storeReceipts.list'} %}

    {% include 'receipt/partials/store-submenu.twig' with {'menu': 'canceled'} %}

    <h2 class="ui header">
        Nota Toko (Batal)
        <div class="sub header">Nota-nota toko dibatalkan atau dihapus.</div>
    </h2>

    {% include 'receipt/partials/search-form.twig' %}

    {% if receipts is not empty %}
        {% include 'receipt/partials/store-table.twig' with {'receipts': receipts} %}
        {{ receipts.links|raw }}
    {% else %}
        {% include 'template/partials/notFoundMessage.twig' with {'variable': 'nota yang dibatalkan'} %}
    {% endif %}
{% endblock %}

{% block script %}
    <script src="{{ base_url() }}/js/index.js"></script>
    <script src="{{ base_url()}}/js/autocomplete.js"></script>
{% endblock %}