@import 'partials/mixins';

// =========================================
// General
body {
    background: url('../images/symphony.png');
}

.container {
    padding: 30px 0;
}

a:hover {
    text-decoration: underline;
}

// =========================================
// Login page
.login {
    @include absCenter;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
}

// ========================================
// Data value text
.value {
    font-weight: 700;
    font-size: larger;
}

// ========================================
// Form inline
.form-inline {
    display: inline-block;
}

// ========================================
// Notes
.notes-description {
    height: 200px;
    max-height: 200px;
    overflow-y: auto;
}

// ========================================
// Work order list when creating receipt
.work-order-wrapper {
    max-height: 200px;
    overflow-y: auto;
}

// =========================================
// Home / Main menu
.home-wrapper {
    margin: 0 auto;
    width: 80%;
}

.main-menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 150px;
    grid-gap: 15px;
    width: 100%;

    &__item {
        border: 1px solid #0984e3;
        border-radius: 5px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #0984e3;

        transition: transform .3s ease, box-shadow .3s ease, background .3s ease;

        &__text {
            margin-top: 10px;
            font-size: 16px;
            font-weight: 700;
        }

        &:hover {
            background: #0984e3;
            color: white;
            transform: translateY(-5px);
            box-shadow: 0px 5px 5px #ccc;
            text-decoration: none;
        }
    }
}

// ====================================
// Print Work Order
.workOrder {
    background: #fff;
    border: 1px solid #ccc;
    height: 148mm;
    padding: 10px 20px;
    position: relative;
    width: 210mm;

    &__layout {
        border-collapse: collapse;
        width: 100%;
    }

    &__logo {
        width: 100px;
        height: auto;
    }
    
    &__heading {
        font-style: italic;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        text-decoration: underline;
        
    }

    &__body {
        font-size: 16px;

        td {
            padding: 8px 0 2px 0;
        }
    }

    &__attr {
        font-weight: 700;
    }

    &__value {
        border-bottom: 1px dashed #222;
    }

    &__sign-box {
        align-items: center;
        bottom: 40px;
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 50px;
        text-align: center;
    }

    &__sign {
        border-bottom: 1px solid #222;
        height: 40px;
        width: 150px;
    }
}

// ====================================
// Print Store & CV Receipt
.storeReceipt,
.cvReceipt {
    background: #fff;
    border: 1px solid #ccc;
    height: 148mm;
    padding: 20px;
    position: relative;
    width: 210mm;

    &__header {
        width: 100%;
        border-collapse: collapse;
    }

    &__logo {
        height: 60px;
    }

    &__address {
        font-size: 10px;
    }

    &__number {
        text-align: center;
        .title {
            display: block;
            font-weight: 700;
            font-size: 24px;
            letter-spacing: 3px;
            text-decoration: underline;
            text-transform: uppercase;
        }
        .number {
            display: block;
            font-size: 18px;
            font-weight: 700;
            margin-top: 10px;
        }
    }

    &__to {
        vertical-align: top;
        padding-left: 20px;
    }

    &__sign-box {
        bottom: 20px;
        display: flex;
        height: 80px;
        justify-content: space-between;
        left: 50%;
        position: absolute;
        transform: translate(-50%);
        width: 600px;

        .receive-sign, .regard-sign {
            text-align: center;
            width: 180px;
            border-bottom: 1px solid #222;
        }
    }
}

.cvReceipt__number {
    padding-top: 60px;
}